-- ============================================================================
-- CAMPUS6 SCHEMA METADATA TABLE
-- Contains: table_name, primary_key, foreign_keys, super_keys, section, notes
-- Total tables documented: 52
-- ============================================================================

-- ============================================================================
-- CREATE METADATA TABLE
-- ============================================================================

CREATE TABLE IF NOT EXISTS tbl_cp_schema_metadata (
  meta_id       INT           AUTO_INCREMENT PRIMARY KEY,
  table_name    VARCHAR(150)  NOT NULL UNIQUE,
  section       VARCHAR(100)  NOT NULL,
  primary_key   VARCHAR(255)  NOT NULL,
  foreign_keys  TEXT          NOT NULL,
  super_keys    TEXT          NOT NULL,
  notes         TEXT,
  created_at    DATETIME      DEFAULT CURRENT_TIMESTAMP,
  updated_at    DATETIME      DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ============================================================================
-- INSERT METADATA ROWS (52 tables)
-- ============================================================================


-- ============================================================================
-- USEFUL QUERIES
-- ============================================================================

-- View all metadata
-- SELECT * FROM tbl_cp_schema_metadata ORDER BY section, table_name;

-- Find all tables that have a FK to a specific table
-- SELECT table_name, foreign_keys FROM tbl_cp_schema_metadata
